.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-width: min(95vw, 1300px);
}

.drawdown.group {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawdown-header {
  width: 85vw;
}

.universals {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.universals > div > input {
  margin-left: 10px;
}

.drawdown-item {
  width: 85vw;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-width: 1px;
  border-color: grey;
  padding: 10px;
}

.drawdown-item  > div > input {
  margin-left: 10px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  align-items: baseline;
  gap: 0 5px;
  padding-right: 5px;
}

/* .input-row > div {
  flex-shrink: 1;
  display: flex;
  gap: 5px;
} */

.input-row > input {
  text-align: right;
}

/* .input-row > div > input {
  width: 55px;
  min-width: 1px;
  flex-grow: 1;
  text-align: right;
} */

.start {
  justify-content: flex-start;
  gap: 0px 10px;
}

.select-model {
  width: 100%;
  font-size: inherit;
}

.input-number {
  max-width: 75px;
  font-size: inherit;
}

.input-row.expenses-input > input {
  max-width: 125px;
}

.input-date {
  font-size: inherit;
}

.wide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
  border: 1px solid gray;
  flex-grow: 1;
  align-self: stretch;
}

.short {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
}

.wide > .input-row {
  flex: 0 1 ;
}

.short > .input-row {
  flex: 0 1 ;
}

.stats {
  white-space: wrap;
  justify-content: center;
}

.legal {
  color: #333333;
  font-size: .5rem;
}

.loader {
  border: 5px solid transparent;
  border-top: 5px solid highlight;
  border-radius: 100%;
  width: .6rem;
  height: .6rem;
  animation: spin 1s linear infinite;
}

.center-text {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  min-height: 150px;
  max-width: min(95vw, 1100px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pay-me {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pay-me > svg {
  max-width: 30px;
  max-height: 30px;
}

.memory-medium {
  color: yellow;
}

.memory-high {
  color: red;
}

.how-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95vw;
}

.how-to-panel {
  overflow: hidden;
  max-height: 0px;
  transition: max-height .5s;
  width: auto;
  max-width: min(95vw, 1000px);
  text-align: left;
}

.how-to-panel.visible {
  max-height: 4500px;
}

.button-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 95vw;
}

.tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
flex: 1;
  /* height: 100%; */
  /* max-width: min(95vw, 1300px); */
  /* overflow: hidden; */
}

/* .showables {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s;
  max-width: min(95vw, 1300px);
}

.showables.visible {
  max-height: 600px;
} */

.nav {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}

.slides {
  width: 1200vw;
  display: flex;
  transition: transform .3s ease-in-out;
}

.slide {
  /* width: min(95vw, 1300px); */
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.move.group {
  background: rgba(100, 100, 100, .5);
  width: 50vw;
  padding-top: 0;
}
